// Palette colori
:root {
    --text: #ffecf4;
    --background: #101010;
    --primary: #ff6cbd;
    --secondary: #ffc6e0;
    --accent: #ff6cbd;
    --textred: #ff6f61;
    --textpistacchio: #AFCD78;

}

// Reset generali
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Corpo
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}


//navbar
.navbar {
    background: #2b2b2b;
    color: var(--text);

    .navbar-brand,
    .nav-link {
        color: var(--secondary);
        transition: color 0.3s;
font-family: Poppins,sans-serif;
        &:hover {
            color: var(--primary);
        }
    }

    .navbar-toggler {
        border-color: var(--secondary);

        &:focus {
            outline: none;
            box-shadow: 0 0 5px var(--accent);
        }
    }
}



// Hero section
.hero-section {
    min-height: 250px;
    /* Altezza minima */
    background-color: var(--primary);
    /* Sfondo rosa acceso */
    color: var(--background);
    /* Testo bianco */
    display: flex;
    /* Flexbox per centrare il contenuto */
    align-items: center;
    /* Centratura verticale */
    justify-content: center;
    /* Centratura orizzontale */
    border-radius: 10px;
    /* Angoli arrotondati */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Leggera ombra */
    padding: 1rem;
    /* Spaziatura interna */
}

.hero-content {
    text-align: center;
    /* Testo centrato */
    max-width: 800px;
    /* Larghezza massima */
}

.hero-content h1 {
    font-weight: bold;
    /* Grassetto */
    font-size: 2.5rem;
    /* Dimensione grande per il titolo */
    margin-bottom: 1rem;
    /* Spaziatura sotto il titolo */
    font-family: Poppins, sans-serif;
}

.hero-content p {
    font-size: 1.2rem;
    /* Dimensione del sottotitolo */
    margin-top: 0;
font-family: Poppins, sans-serif;
    font-weight: 700;


}


// Carousel
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;


    .carousel-item {
        text-align: center; // Centra il contenuto orizzontalmente
        height: 400px; // Altezza fissa per tutte le slide
        align-items: center;
    }

    .carousel-caption {
        position: absolute;
        bottom: 20px;
        background: rgba(0, 0, 0, 0.5); // Sfondo trasparente scuro
        color: var(--text);
        padding: 1rem;
        border-radius: 10px;


    }

    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // Adatta senza distorsioni
        object-position: bottom;
        border-bottom-left-radius: 20px; // Applica la stessa regola all'immagine per evitare tagli
        border-bottom-right-radius: 20px;
    }

    

}

.carousel-container h3 {
    font-family: 'Poppins', sans-serif; /* Specifica il font */
    font-weight: 700; /* Grassetto */
    font-size: 1.5rem; /* Dimensione personalizzabile */
    color: var(--secondary); /* Adatta il colore se necessario */
  }
  



// Card degli eventi
.event-card {
    background: var(--background);
    color: var(--text);
    border: 1px solid var(--primary);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(255, 108, 189, 0.5);
    }

    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        max-height: 100px;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-footer {
        text-align: center;
        margin-top: auto;
    }

    .badge {
        background: var(--secondary);
        color: var(--background);
    }

    .btn-primary {
        background: var(--primary);
        border: none;

        &:hover {
            background: var(--accent);
        }
    }


}



// Modali
.modal-content {
    background: var(--background);
    color: var(--text);
    border-radius: 10px;

    .modal-header {
        border-bottom: 1px solid var(--primary);
    }

    .modal-footer {
        border-top: 1px solid var(--primary);
    }

    .btn-success {
        background: var(--primary);
        border: none;

        &:hover {
            background: var(--accent);
        }
    }

    .btn-secondary {
        background: var(--secondary);
        border: none;

        &:hover {
            background: var(--primary);
        }
    }
}


.button-style {
    background: var(--primary);
    color: var(--text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background: var(--accent);
        transform: scale(1.05);
    }
}



.event-card {
    background: var(--background);
    color: var(--text);
    border: 1px solid var(--primary);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(255, 108, 189, 0.5);
    }

    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        max-height: 200px;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-footer {
        text-align: center;
        margin-top: auto;
    }

    .badge {
        background: var(--secondary);
        color: var(--background);
    }

    .btn-primary {
        background: var(--primary);
        border: none;

        &:hover {
            background: var(--accent);
        }
    }



}

.event-card-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

//profiloutente

.btn-modifica {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-modifica:hover {
    background-color: var(--accent);
    color: var(--text);
    transform: scale(1.05);
}

.btn-modifica:active {
    background-color: var(--primary);
    transform: scale(1);
}

.btn-salva {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-salva:hover {
    background-color: var(--accent);
    color: var(--text);
    transform: scale(1.05);
}

.btn-salva:active {
    background-color: var(--primary);
    transform: scale(1);
}

.button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}


.button-group .btn {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;


}

//tabelle
.table-responsive {
    border-radius: 10px;
}

.table td {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    height: 52px;
    text-align: center;
}

.button-group-td {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    border: none;
    height: 100%;

}

//card stats
.statistiche-card {
    background-color: var(--secondary);
    color: black;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

//bottone filtro
.btn-filtro {
    color: #101010;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-filtro:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-filtro:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}


.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: var(--background);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--primary);

}

.navbar .nav-link {
    color: var(--secondary);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: Poppins, sans-serif;
}

.navbar .nav-link:hover {
    color: var(--primary);
}

.navbar .nav-link:active {
    color: var(--accent);
}

// Contenitore del filtro 
.filtro-container {
    background-color: var(--background);
    color: var(--text);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// Input e select 
.filtro-container .form-control {
    background-color: var(--secondary);
    /* Sfondo dei campi */
    color: black;
    border: 1px solid var(--primary);
    border-radius: 6px;
}

.filtro-container .form-control:focus {
    border-color: var(--accent);
    box-shadow: 0 0 5px var(--accent);
    outline: none;
}

// Pulsanti 
.btn-filtro {
    background-color: var(--primary);
    color: var(--text);
    font-weight: bold;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-filtro:hover {
    background-color: var(--accent);
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-filtro:focus {
    outline: none;
    box-shadow: 0 0 10px var(--accent);
}

// Etichette 
.filtro-container .form-label {
    color: var(--accent);
    font-weight: bold;
}

// colore e stile del placeholder 
::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
}

//btn prenotazione evento 
.btn-prenota:hover {
    color: #101010;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    scale: (1.05);
}

// btn dettagli evento 

.btn-dettagli {
    background-color: var(--secondary);
    transition: background-color 0.3s, transform 0.2s;
}

// Pulsante "Dettagli Evento" 
.btn-dettagli:hover {
    font-weight: bold;
    background-color: var(--secondary);
    transform: scale(1.05) !important;

}

//hambuger nav 
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: none; // Rimuove l'icona SVG predefinita 
    background-color: var(--primary);
    border-radius: 2px;
    position: relative;
    width: 24px;
    height: 2px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    background-color: var(--primary);
    border-radius: 2px;
    position: absolute;
    width: 24px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:focus .navbar-toggler-icon {
    background-color: var(--primary);
}

.navbar-toggler:hover .navbar-toggler-icon::before,
.navbar-toggler:focus .navbar-toggler-icon::before {
    background-color: var(--primary);
}

.navbar-toggler:hover .navbar-toggler-icon::after,
.navbar-toggler:focus .navbar-toggler-icon::after {
    background-color: var(--primary);
}

//form evento
.form-creazione-evento .form-control {
    border: 2px solid var(--background);
    background-color: var(--secondary); //campo nel form
    color: var(--background);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.form-creazione-evento .form-control:focus {
    border-color: var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
}

.form-creazione-evento .card {
    border: none;
    border-radius: 10px;
    background-color: whitesmoke; //corpo del form
    box-shadow: 0 4px 10px rgba(255, 108, 189, 0.3);
}

.form-creazione-evento button[type="submit"] {
    background-color: var(--background);
    color: white;
    border: 2px solid var(--background);
    transition: all 0.3s ease-in-out;
}

.form-creazione-evento button[type="submit"]:hover {
    background-color: var(--primary);
    border-color: var(--secondary);
    color: var(--background);
}

.form-creazione-evento .card-header {
    border-bottom: 4px solid var(--primary);
    background-color: var(--background);

    font-weight: bold;
    text-align: center;
    border-radius: 0;
    padding: 1rem;

}


//BTN FORM generazione foto 

.form-creazione-evento .btn-modifica {
    background-color: var(--background);
    color: white;
    border: 2px solid var(--background);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.form-creazione-evento .btn-modifica:hover {
    background-color: var(--primary);
    border-color: var(--secondary);
    color: var(--background);
}


.form-creazione-evento .btn-modifica:disabled {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
}

//PANNELLO ADMIN 

.admin-panel-nav .nav-item .nav-link {
    background-color: var(--secondary);
    color: var(--background);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    border: none;

}


.admin-panel-nav .nav-item .nav-link.active {
    background-color: var(--primary);
    color: var(--background);
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.admin-panel-nav .nav-item .nav-link:hover {
    background-color: var(--primary);
    color: var(--background);
}

.btn-cancella {
    background-color: #F44336;
    color: var(--background);
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cancella:hover {
    background-color: #D32F2F;
    color: var(--text);
    transform: scale(1.05);
}

.btn-cancella:active {
    background-color: var(--primary);
    transform: scale(1);
}



//icone nav + query per non romperle
.nav-link i {
    display: block;
}

@media (max-width: 992px) {
    .nav-link i {
        display: inline-block;
        /* Mostra le icone accanto al testo nel mobile */
        margin-right: 8px;
    }
}



// Stile generale per le card 
.custom-card {
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

// Colori personalizzati per ogni card 
.card-1 {
    background-color: #ff6f61;
    color: var(--background);
}

.card-2 {
    background-color: var(--secondary);
    color: var(--background);
}

.card-3 {
    background-color: #AFCD78;
    color: #000;
}

.titoloeventi  {
    color: var(--secondary);
}
.custom-card-title {
    font-size: 2rem;
    font-weight: bold;
}


.custom-card-text {
    font-size: 1.2rem;
    text-align: center;
    font-family: Poppins, sans-serif;
}

// Centrare verticalmente e orizzontalmente il contenuto delle recensioni 
.recensione-card {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;


}
strong {
    font-weight: bolder;
    font-family: Poppins,sans serif;}
// Regola generale per il testo 
.recensione-card .text-center {
    text-align: center;
    margin: 0;
    font-size: larger;
    font-family: Poppins,sans-serif;
}

.btn {
    
    font-family: Poppins,sans-serif;
}

//footer
.footer-fixed {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Stile per i link */
.footer-fixed a {
    transition: color 0.3s ease;
}

.footer-fixed a:hover {
    color: var(--primary);
}

// Stile per le icone social 
.footer-fixed .fab {
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-fixed .fab:hover {
    transform: scale(1.2);
    color: var(--primary);
}

// Per evitare margini non voluti nel layout mobile 
.navbar-nav .nav-link.text-end {
    padding-right: 1rem;
}


// Header del form 
.form-header {
    background: linear-gradient(90deg, #FF69B4, #FF69B4);
    color: #010101;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    
        
    
}

.form-creazione-evento .card {
    border-radius: 10px;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.keyword {
    font-weight: bold;
    font-size: larger;
    font-family: Poppins, serif;

}


.badge-card-custom-rosa {
    font-weight: bold;
    border-radius: 50px;
    font-size: 0.9rem;
    display: inline-block;
}

.bg-info {
    background-color: var(--primary) !important;
}

.titoloSezione {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
    position: relative;
    padding-bottom: 0.5rem;

    :after {
        content: ''; // Elemento decorativo sotto il titolo 
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: var(--accent);
        bottom: 0; //Regole per la centratura
        left: 50%;
        transform: translateX(-50%);
    }

}

.keyword-hero-uno {
    color: whitesmoke;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF69B4;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
    background-color: #FF1493;
    transform: scale(1.1);
}

.back-to-top:focus {
    outline: none;
}

.event-card p {
    margin-bottom: 0;
    /* Rimuove il margin inferiore */
}


.carousel-caption .h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}

.card-body .h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

}

.titoloCarosello {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--secondary);
    text-transform: capitalize;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}